<p style="font-family: Arial; font-size:3.75vw;color:purple; font-style:bold"><br>
pandas Exercise Notebook
</p><br>

# Exercise Notebook Instructions

### 1. Important: Only modify the cells which instruct you to modify them - leave "do not modify" cells alone.  

The code which tests your responses assumes you have run the startup/read-only code exactly.

### 2. Work through the notebook in order.

Some of the steps depend on previous, so you'll want to move through the notebook in order.

### 3. It is okay to use libraries.

You may find some questions are fairly straightforward to answer using built-in library functions.  That's totally okay - part of the point of these exercises is to familiarize you with the commonly used functions.

### 4. Seek help if stuck

If you get stuck, don't worry!  You can either review the videos/notebooks from this week, ask in the course forums, or look to the solutions for the correct answer.  BUT, be careful about looking to the solutions too quickly.  Struggling to get the right answer is an important part of the learning process.

In [1]:
import pandas as pd
import numpy as np
import os.path

In this exercise notebook you will have the opportunity to load the MovieLens database and perform additional analysis.

First let's load the data into a Pandas Dataframe:

In [2]:
# DO NOT MODIFY

# set here the relative path to the movielens folder
MOVIELENS="../movielens"

movies = pd.read_csv(os.path.join(MOVIELENS, 'movies.csv'), sep=',')
ratings = pd.read_csv(os.path.join(MOVIELENS, 'ratings.csv'), sep=',')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

## Exercise 1: Find the Minimum Rating

Let's start by computing the minimum rating.

In the next cell, define the `min_rating` variable to be the minimum rating across all of the DataFrame:

In [5]:
min_rating = None
### BEGIN SOLUTION
min_rating=ratings.rating.min()
### END SOLUTION

In [6]:
# DO NOT MODIFY

assert isinstance(min_rating, np.float64), "Try again, make sure you are taking the min of just 1 column"
assert abs(min_rating - 0.5) < .01, "Try again, the minimum should be 0.5"

## Exercise 2: Find the Mean Rating of a Movie

The movie **Toy Story** has `movieId` 1. Find out the mean rating for Toy Story. For this exercise you just need to use the `ratings` DataFrame:

In [7]:
toy_story_rating = None
### BEGIN SOLUTION
toy_story_rating=ratings[ratings.movieId==1].rating.mean()
### END SOLUTION

In [8]:
assert abs(toy_story_rating - 3.92) < 0.01, "Try again, select only the rows where the movieId is equal to 1"

## Exercise 3: Find the Most Common Rating

Next, find which rating is the most common.

In [9]:
rating_counts = None
### BEGIN SOLUTION
rating_counts = ratings.rating.value_counts()
print(rating_counts)
### END SOLUTION

4.0    5561926
3.0    4291193
5.0    2898660
3.5    2200156
4.5    1534824
2.0    1430997
2.5     883398
1.0     680732
1.5     279252
0.5     239125
Name: rating, dtype: int64

In [10]:
# DO NOT MODIFY

assert rating_counts.iloc[:1].index[0] == 4., "Print out rating_counts and try to understand what is wrong"

It is also interesting to inspect step by step what the statement above is doing:

    rating_counts.iloc[:1].index[0]

print all the intermediate stages of this expression, read the documentation of the functions used here.

## Exercise 4: Usage of the Index in pandas

In `numpy` the way to point to a specific entry in an array is by using its integer position. In `pandas` you can do the same with `iloc`, but you also have the option of defining a column in a DataFrame as an `index` and refer to rows using `index` labels instead of integer locations using `loc`.

For example in `rating_counts` defined above, the rating is the `index`, so we can reference a value either by its position or by its rating.

For example we can reference the 4th record either with `iloc` and its position or with `loc` and its label:

In [11]:
rating_counts.iloc[3]

2200156

In [12]:
rating_counts.loc[3.5]

2200156

## Exercise 5: Set an Index for the Movies DataFrame

Movies have one column `movieId` that is a natural way of uniquely identifying each row, when that is the case, it is useful to turn that into an index.

In [13]:
movies = movies.set_index("movieId")

In [14]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [15]:
print(movies)

                                                     title  \
movieId
1                                         Toy Story (1995)
2                                           Jumanji (1995)
3                                  Grumpier Old Men (1995)
4                                 Waiting to Exhale (1995)
5                       Father of the Bride Part II (1995)
6                                              Heat (1995)
7                                           Sabrina (1995)
8                                      Tom and Huck (1995)
9                                      Sudden Death (1995)
10                                        GoldenEye (1995)
11                          American President, The (1995)
12                      Dracula: Dead and Loving It (1995)
13                                            Balto (1995)
14                                            Nixon (1995)
15                                 Cutthroat Island (1995)
16                                           Casino (1995)
17                            Sense and Sensibility (1995)
18                                       Four Rooms (1995)
19                   Ace Ventura: When Nature Calls (1995)
20                                      Money Train (1995)
21                                       Get Shorty (1995)
22                                          Copycat (1995)
23                                        Assassins (1995)
24                                           Powder (1995)
25                                Leaving Las Vegas (1995)
26                                          Othello (1995)
27                                     Now and Then (1995)
28                                       Persuasion (1995)
29       City of Lost Children, The (Cité des enfants p...
30       Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...                                                    ...
131146                       Werner - Volles Rooäää (1999)
131148                                   What A Man (2011)
131150          7 Dwarves: The Forest Is Not Enough (2006)
131152                                  The Fat Spy (1966)
131154   Die Bademeister – Weiber, saufen, Leben retten...
131156                          Ants in the Pants 2 (2002)
131158                                 Manta, Manta (1991)
131160                   Oscar and the Lady in Pink (2009)
131162                       Por un puñado de besos (2014)
131164                                Vietnam in HD (2011)
131166                                   WWII IN HD (2009)
131168                                      Phoenix (2014)
131170                                    Parallels (2015)
131172                               Closed Curtain (2013)
131174                                    Gentlemen (2014)
131176                              A Second Chance (2014)
131180                      Dead Rising: Watchtower (2015)
131231                                      Standby (2014)
131237                          What Men Talk About (2010)
131239                           Three Quarter Moon (2011)
131241                            Ants in the Pants (2000)
131243                 Werner - Gekotzt wird später (2003)
131248                               Brother Bear 2 (2006)
131250                               No More School (2000)
131252   Forklift Driver Klaus: The First Day on the Jo...
131254                        Kein Bund für's Leben (2007)
131256                       Feuer, Eis & Dosenbier (2002)
131258                                  The Pirates (2014)
131260                                 Rentun Ruusu (2001)
131262                                    Innocence (2014)

                                              genres
movieId
1        Adventure|Animation|Children|Comedy|Fantasy
2                         Adventure|Children|Fantasy
3                                     Comedy|Romance
4                               Comedy|Drama|Romance
5                                             Comedy
6                              Action|Crime|Thriller
7                                     Comedy|Romance
8                                 Adventure|Children
9                                             Action
10                         Action|Adventure|Thriller
11                              Comedy|Drama|Romance
12                                     Comedy|Horror
13                      Adventure|Animation|Children
14                                             Drama
15                          Action|Adventure|Romance
16                                       Crime|Drama
17                                     Drama|Romance
18                                            Comedy
19                                            Comedy
20                Action|Comedy|Crime|Drama|Thriller
21                             Comedy|Crime|Thriller
22               Crime|Drama|Horror|Mystery|Thriller
23                             Action|Crime|Thriller
24                                      Drama|Sci-Fi
25                                     Drama|Romance
26                                             Drama
27                                    Children|Drama
28                                     Drama|Romance
29            Adventure|Drama|Fantasy|Mystery|Sci-Fi
30                                       Crime|Drama
...                                              ...
131146                              Animation|Comedy
131148                                Comedy|Romance
131150                                        Comedy
131152                                        Comedy
131154                                        Comedy
131156                                        Comedy
131158                                        Comedy
131160                                         Drama
131162                                 Drama|Romance
131164                                           War
131166                            (no genres listed)
131168                                         Drama
131170                                        Sci-Fi
131172                            (no genres listed)
131174                        Drama|Romance|Thriller
131176                                         Drama
131180                        Action|Horror|Thriller
131231                                Comedy|Romance
131237                                        Comedy
131239                                  Comedy|Drama
131241                                Comedy|Romance
131243                              Animation|Comedy
131248   Adventure|Animation|Children|Comedy|Fantasy
131250                                        Comedy
131252                                 Comedy|Horror
131254                                        Comedy
131256                                        Comedy
131258                                     Adventure
131260                            (no genres listed)
131262                      Adventure|Fantasy|Horror

[27278 rows x 2 columns]

Ratings instead do not have a row identifier, both `userId` and `movieId` reference records in other dataframes, therefore there is no good candidate for an index so we can just leave the default integer indexing.

## Exercise 6: Year with Maximum Standard Deviation in the Rating

First assignment is to find which year has the maximum standard deviation in the rating, **not** the maximum value of the standard deviation, but the year when it occurs.
You can use the `idxmax` method, look at its documentation on the pandas website, https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html

First we want to convert the timestamp into a datetime object:

In [16]:
# DO NOT MODIFY

ratings['parsed_time'] = pd.to_datetime(ratings['timestamp'], unit='s')

We can then access to datetime related fields through `dt`, for example:

In [17]:
ratings.parsed_time.dt.month.head()

0    4
1    4
2    4
3    4
4    4
Name: parsed_time, dtype: int64

In [18]:
def find_year_with_max_std(ratings):
    """Function to find the year with the larger standard deviation in rating"""
    ### BEGIN SOLUTION
    tm=ratings.groupby(ratings.parsed_time.dt.year).std()
    tm=tm.sort_values(by=['rating'])
    #return tm
    return tm.iloc[-1].name
    ### END SOLUTION

In [19]:
find_year_with_max_std(ratings)

1998

In [20]:
assert find_year_with_max_std(ratings) == 1998, "Wrong year identified, try again!"

## Advanced Exercise 1: Identify Popular Movies

*In the rest of the notebook, we will introduce new concepts not covered in class, this will challenge you to read additional pandas documentation.*

First we would like only to consider movies that have a significant number of ratings. This task is complicated by the fact that movies and ratings are in 2 different DataFrames and we want to filter the `movies` DataFrame based on a statistics on the `ratings` DataFrame.

First let's compute the number of ratings per movie:

In [21]:
ratings.movieId

0               2
1              29
2              32
3              47
4              50
5             112
6             151
7             223
8             253
9             260
10            293
11            296
12            318
13            337
14            367
15            541
16            589
17            593
18            653
19            919
20            924
21           1009
22           1036
23           1079
24           1080
25           1089
26           1090
27           1097
28           1136
29           1193
            ...
20000233    50872
20000234    51086
20000235    51662
20000236    51884
20000237    52579
20000238    52975
20000239    53123
20000240    53125
20000241    53322
20000242    53464
20000243    53996
20000244    55269
20000245    55814
20000246    56757
20000247    56801
20000248    58879
20000249    59315
20000250    59725
20000251    59784
20000252    60069
20000253    60816
20000254    61160
20000255    65682
20000256    66762
20000257    68319
20000258    68954
20000259    69526
20000260    69644
20000261    70286
20000262    71619
Name: movieId, Length: 20000263, dtype: int64

In [22]:
number_of_ratings = ratings.movieId.value_counts()

In [23]:
number_of_ratings.head()

296    67310
356    66172
318    63366
593    63299
480    59715
Name: movieId, dtype: int64

Now we want to filter this pandas Series object and keep only the rows where the count is larger or equal to 100.
We don't want to pollute our analysis with movies with a tiny number of reviews:

In [24]:
number_of_ratings_of_popular_movies = None
### BEGIN SOLUTION
number_of_ratings_of_popular_movies=number_of_ratings[number_of_ratings>=100]
### END SOLUTION

In [25]:
assert len(number_of_ratings_of_popular_movies) == 8546, "Try again, check that movies with 100 ratings are accepted"

In [26]:
number_of_ratings_of_popular_movies

296       67310
356       66172
318       63366
593       63299
480       59715
260       54502
110       53769
589       52244
2571      51334
527       50054
1         49695
457       49581
150       47777
780       47048
50        47006
1210      46839
592       46054
1196      45313
2858      44987
32        44980
590       44208
1198      43295
608       43272
47        43249
380       43159
588       41842
377       41562
1270      41426
858       41355
2959      40106
          ...
7561        101
8040        101
1891        101
7753        101
8987        101
6173        101
4289        101
27784       101
1181        101
44301       101
3874        101
3568        101
27456       101
6616        101
7615        101
6293        101
8201        100
687         100
71878       100
5256        100
59915       100
112911      100
26746       100
56336       100
6390        100
4208        100
865         100
51127       100
30867       100
80469       100
Name: movieId, Length: 8546, dtype: int64

Finally we want to use the `reindex` function to change the index of movies, this will create a new DataFrame with a new index that contains the movieId of only the most popular movies.

The value of all the rows of `movies` that have the same movieId will be copied over to the new `popular_movies` dataset, the rest will be discarded.

In [27]:
all_popular_movies = movies.reindex(number_of_ratings_of_popular_movies)
print(all_popular_movies)

                                             title  \
movieId
67310                                          NaN
66172                                          NaN
63366                                          NaN
63299                                          NaN
59715                               Shutter (2008)
54502                                          NaN
53769          In Search of a Midnight Kiss (2007)
52244                                          NaN
51334                                          NaN
50054                                          NaN
49695                                          NaN
49581                                          NaN
47777                                          NaN
47048                                          NaN
47006                                          NaN
46839    Three Times (Zui hao de shi guang) (2005)
46054                                          NaN
45313                                          NaN
44987                                          NaN
44980                                          NaN
44208                                          NaN
43295                                          NaN
43272                                          NaN
43249                                          NaN
43159                                          NaN
41842                                          NaN
41562                                          NaN
41426                                          NaN
41355                                          NaN
40106                                          NaN
...                                            ...
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
101                           Bottle Rocket (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)
100                               City Hall (1996)

                                 genres
movieId
67310                               NaN
66172                               NaN
63366                               NaN
63299                               NaN
59715           Horror|Mystery|Thriller
54502                               NaN
53769                    Comedy|Romance
52244                               NaN
51334                               NaN
50054                               NaN
49695                               NaN
49581                               NaN
47777                               NaN
47048                               NaN
47006                               NaN
46839                     Drama|Romance
46054                               NaN
45313                               NaN
44987                               NaN
44980                               NaN
44208                               NaN
43295                               NaN
43272                               NaN
43249                               NaN
43159                               NaN
41842                               NaN
41562                               NaN
41426                               NaN
41355                               NaN
40106                               NaN
...                                 ...
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
101      Adventure|Comedy|Crime|Romance
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller
100                      Drama|Thriller

[8546 rows x 2 columns]

## Advanced Exercise 2: Data Cleaning

Everytime we perform a reindexing operation, `pandas` will create a row for every value of the new index, even if it doesn't exist in the original data structure, and it will mark those data as missing with `NaN` (Not A Number).

Always check if reindexing generated invalid data:

In [28]:
all_popular_movies.isnull().sum()

title     699
genres    699
dtype: int64

In the next cell we want to drop the invalid data, look for a `pandas` function that performs that operation (it starts with "drop"!).

In [29]:
popular_movies = None
### BEGIN SOLUTION
popular_movies =all_popular_movies.dropna()
### END SOLUTION

In [30]:
assert len(popular_movies) == 7847, "Try again, check the documentation of the function you used"

## Advanced Exercise 3: Filter by Genre

Let's implement a general function that filters movies by genres:

In [31]:
def filter_by_genre(input_movies, genre):
    """Return only movies of a specific genre"""
    ### BEGIN SOLUTION
    return input_movies[input_movies.genres.str.contains(genre)]
    ### END SOLUTION

Then let's apply it to the `popular_movies` dataset to retain only the "Fantasy" movies:

In [32]:
fantasy_movies = filter_by_genre(popular_movies, "Fantasy")

In [33]:
assert len(fantasy_movies) == 382, """Try again, Make sure you are filtering the popular movies"""

In [34]:
fantasy_movies

,title,genres
movieId,,
8492,"Christmas Carol, A (Scrooge) (1951)",Drama|Fantasy
8157,Jin Roh: The Wolf Brigade (Jin-Rô) (1998),Animation|Fantasy|Thriller
8015,"Phantom Tollbooth, The (1970)",Adventure|Animation|Children|Fantasy
7842,Dune (2000),Drama|Fantasy|Sci-Fi
7657,Versus (2000),Action|Comedy|Fantasy|Horror
7373,Hellboy (2004),Action|Adventure|Fantasy|Horror
7228,Cool World (1992),Animation|Comedy|Fantasy
7099,Nausicaä of the Valley of the Wind (Kaze no ta...,Adventure|Animation|Drama|Fantasy|Sci-Fi
7045,"Witches, The (1990)",Children|Fantasy
6773,"Triplets of Belleville, The (Les triplettes de...",Animation|Comedy|Fantasy
6686,"Medallion, The (2003)",Action|Comedy|Crime|Fantasy
6624,Agent Cody Banks (2003),Action|Adventure|Children|Fantasy
6093,"Last Unicorn, The (1982)",Animation|Children|Fantasy
5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy
5768,Modern Problems (1981),Comedy|Fantasy
5672,Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie) (...,Adventure|Animation|Children|Fantasy
5419,Scooby-Doo (2002),Adventure|Children|Comedy|Fantasy|Mystery
5419,Scooby-Doo (2002),Adventure|Children|Comedy|Fantasy|Mystery
5128,Queen of the Damned (2002),Fantasy|Horror
5039,Dragonslayer (1981),Action|Adventure|Fantasy
4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy
4874,K-PAX (2001),Drama|Fantasy|Mystery|Sci-Fi
4874,K-PAX (2001),Drama|Fantasy|Mystery|Sci-Fi
4873,Waking Life (2001),Animation|Drama|Fantasy
4680,Vampire's Kiss (1989),Comedy|Fantasy|Horror
4519,"Land Before Time, The (1988)",Adventure|Animation|Children|Fantasy
4404,Faust (1926),Drama|Fantasy|Horror
4392,Alice (1990),Comedy|Drama|Fantasy|Romance
4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
...,...,...
188,"Prophecy, The (1995)",Fantasy|Horror|Mystery
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy

## Advanced Exercise 4: Join Movies and Ratings

Let's create a single `DataFrame` that contains both titles and mean ratings of the popular fantasy movies.

Titles are only available in the `movies` `DataFrame`, while ratings in the `ratings` `DataFrame`, we would like to create a single DataFrame that includes Title.

Create the `mean_ratings` variable by computing the mean rating for each movie:

In [48]:
mean_ratings = None
### BEGIN SOLUTION
mean_ratings = ratings.rating.groupby(ratings.movieId).mean()
### END SOLUTION

In this case we don't even need to use a join operation, we can just create a new column in the `fantasy_movies` DataFrame. This will automatically match the index of `mean_ratings` with the index of `fantasy_movies` and attach to each movie its rating. Ratings for movies that are not in the `fantasy_movies` DataFrame are discarded.

The recommended way of creating columns in the recent versions of `pandas` is through the `assign` function, read its documentation!

In [36]:
fantasy_movies.assign?

In [47]:
mean_rating=ratings.rating.groupby(ratings.movieId).mean()
print(mean_rating)

movieId
1         3.921240
2         3.211977
3         3.151040
4         2.861393
5         3.064592
6         3.834930
7         3.366484
8         3.142049
9         3.004924
10        3.430029
11        3.667713
12        2.619766
13        3.272416
14        3.432082
15        2.721993
16        3.787455
17        3.968573
18        3.373631
19        2.607412
20        2.880754
21        3.581689
22        3.319400
23        3.148235
24        3.199849
25        3.689510
26        3.628857
27        3.413520
28        4.057546
29        3.952230
30        3.633880
            ...
131146    4.000000
131148    4.000000
131150    4.000000
131152    0.500000
131154    3.500000
131156    4.000000
131158    4.000000
131160    4.000000
131162    2.000000
131164    4.000000
131166    4.000000
131168    3.500000
131170    3.500000
131172    1.000000
131174    3.500000
131176    4.500000
131180    2.500000
131231    3.500000
131237    3.000000
131239    4.000000
131241    4.000000
131243    4.000000
131248    4.000000
131250    4.000000
131252    4.000000
131254    4.000000
131256    4.000000
131258    2.500000
131260    3.000000
131262    4.000000
Name: rating, Length: 26744, dtype: float64

In [44]:
print(ratings.rating.groupby(ratings.movieId).mean())

movieId
1         3.921240
2         3.211977
3         3.151040
4         2.861393
5         3.064592
6         3.834930
7         3.366484
8         3.142049
9         3.004924
10        3.430029
11        3.667713
12        2.619766
13        3.272416
14        3.432082
15        2.721993
16        3.787455
17        3.968573
18        3.373631
19        2.607412
20        2.880754
21        3.581689
22        3.319400
23        3.148235
24        3.199849
25        3.689510
26        3.628857
27        3.413520
28        4.057546
29        3.952230
30        3.633880
            ...
131146    4.000000
131148    4.000000
131150    4.000000
131152    0.500000
131154    3.500000
131156    4.000000
131158    4.000000
131160    4.000000
131162    2.000000
131164    4.000000
131166    4.000000
131168    3.500000
131170    3.500000
131172    1.000000
131174    3.500000
131176    4.500000
131180    2.500000
131231    3.500000
131237    3.000000
131239    4.000000
131241    4.000000
131243    4.000000
131248    4.000000
131250    4.000000
131252    4.000000
131254    4.000000
131256    4.000000
131258    2.500000
131260    3.000000
131262    4.000000
Name: rating, Length: 26744, dtype: float64

In [45]:
fantasy_movies_with_ratings = fantasy_movies.assign(rating = ratings.rating.groupby(ratings.movieId).mean())

In [46]:
fantasy_movies_with_ratings.head()

,title,genres,rating
movieId,,,
8492,"Christmas Carol, A (Scrooge) (1951)",Drama|Fantasy,3.833778
8157,Jin Roh: The Wolf Brigade (Jin-Rô) (1998),Animation|Fantasy|Thriller,3.679928
8015,"Phantom Tollbooth, The (1970)",Adventure|Animation|Children|Fantasy,3.585903
7842,Dune (2000),Drama|Fantasy|Sci-Fi,3.568719
7657,Versus (2000),Action|Comedy|Fantasy|Horror,2.987013

In [49]:
assert fantasy_movies_with_ratings.loc[7842].title.startswith("Dune"), "Try again, missing or wrong title"

In [50]:
assert abs(fantasy_movies_with_ratings.loc[7842].rating - 3.56) < 0.01 , "Try again, missing or wrong rating"

## Advanced Exercise 5: Find the Highest Rated Fantasy Movie

Again we need to find the index where a column is max, in this case rating:

In [52]:
fantasy_movies_with_ratings.sort_values(by=['rating'])

,title,genres,rating
movieId,,,
5672,Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie) (...,Adventure|Animation|Children|Fantasy,1.316737
810,Kazaam (1996),Children|Comedy|Fantasy,1.827577
393,Street Fighter (1994),Action|Adventure|Fantasy,1.867222
393,Street Fighter (1994),Action|Adventure|Fantasy,1.867222
393,Street Fighter (1994),Action|Adventure|Fantasy,1.867222
393,Street Fighter (1994),Action|Adventure|Fantasy,1.867222
393,Street Fighter (1994),Action|Adventure|Fantasy,1.867222
3054,Pokémon: The First Movie (1998),Adventure|Animation|Children|Fantasy|Sci-Fi,2.058187
546,Super Mario Bros. (1993),Action|Adventure|Children|Comedy|Fantasy|Sci-Fi,2.080393
3440,Teenage Mutant Ninja Turtles III (1993),Action|Adventure|Children|Comedy|Fantasy,2.158985
4158,Monkeybone (2001),Animation|Comedy|Fantasy,2.266845
2149,House II: The Second Story (1987),Comedy|Fantasy|Horror,2.279817
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,2.312137
...,...,...,...
1265,Groundhog Day (1993),Comedy|Fantasy|Romance,3.867623
1265,Groundhog Day (1993),Comedy|Fantasy|Romance,3.867623
6773,"Triplets of Belleville, The (Les triplettes de...",Animation|Comedy|Fantasy,3.868468
1176,"Double Life of Veronique, The (Double Vie de V...",Drama|Fantasy|Romance,3.890562
265,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance,3.927265
265,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance,3.927265
265,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance,3.927265
265,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance,3.927265
265,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance,3.927265
2624,After Life (Wandafuru raifu) (1998),Drama|Fantasy,3.964567
919,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical,3.981681
919,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical,3.981681
919,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical,3.981681
1278,Young Frankenstein (1974),Comedy|Fantasy,3.996785
2931,Time of the Gypsies (Dom za vesanje) (1989),Comedy|Crime|Drama|Fantasy,4.005797
1211,"Wings of Desire (Himmel über Berlin, Der) (1987)",Drama|Fantasy|Romance,4.024767
1211,"Wings of Desire (Himmel über Berlin, Der) (1987)",Drama|Fantasy|Romance,4.024767
1199,Brazil (1985),Fantasy|Sci-Fi,4.029591
1199,Brazil (1985),Fantasy|Sci-Fi,4.029591
1199,Brazil (1985),Fantasy|Sci-Fi,4.029591
1251,8 1/2 (8½) (1963),Drama|Fantasy,4.050226
953,It's a Wonderful Life (1946),Drama|Fantasy|Romance,4.064293
7099,Nausicaä of the Valley of the Wind (Kaze no ta...,Adventure|Animation|Drama|Fantasy|Sci-Fi,4.092082
4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,4.137925
1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,4.174146
1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,4.174146
1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,4.174146
1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,4.174146
1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,4.174146
1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,4.176732

In [66]:
index_of_max_rating = None
### BEGIN SOLUTION
index_of_max_rating = fantasy_movies_with_ratings.sort_values(by=['rating']).index[-1]
print(index_of_max_rating)
### END SOLUTION

1197

In [67]:
highest_rated_fantasy_movie = fantasy_movies_with_ratings.loc[index_of_max_rating]

In [68]:
assert highest_rated_fantasy_movie.title.startswith("Princess"), "Try again"